
.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.card--1 .card__img, .card--1 .card__img--hover {
    //background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}


.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #4dbd74;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 125px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 0;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //width: 100%;
    position: absolute;
    //height: 125px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    width: 25%;
    height: 100%;
}

.food-card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 25%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 40px -7px rgba(0, 0, 0,0.1);
}

.food-card:hover {
    -webkit-box-shadow: 0px 12px 38px -8px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 12px 38px -8px rgba(0,0,0,0.48);
    box-shadow: 0px 12px 38px -8px rgba(0,0,0,0.48);
}

.food-card:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}


.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 4px 24px 26%;
    padding-bottom: 0;
}

.card__category {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card__by {
    font-size: 12px;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.food-card:hover .card__img--hover {
  //  height: 70%;
    opacity: 0.3;
}

/*.card_link:active .card__img--hover {
    height: 65%;
}
    */
.food-card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.food-card:hover .card__info-hover {
    opacity: 0.6;
}






figure {
    display: flex;
    flex-wrap: wrap;
    margin: 3em auto;
    background: #fff;
    font-size: 0.875em;
}

.image-left, .image-right {
    width: 500px;
    height: 250px;
}

.image-top, .image-bottom {
    width: 250px;
    height: 500px;
}

.image-left {
    flex-direction: row;
}

.image-right {
    flex-direction: row-reverse;
}

.image-top {
    flex-wrap: wrap;
}

.image-bottom {
    flex-wrap: wrap-reverse;
}

figcaption:before {
    position: absolute;
    content: '';
    display: block;
    height: 0;
    widht: 0;
    border-style: solid;
    border-width: 1em;
}

.image-left figcaption:before {
    border-color: transparent #fff transparent transparent;
    top: 50%;
    margin-top: -1em;
    left: -2em;
}

.image-right figcaption:before {
    border-color: transparent transparent transparent #fff;
    top: 50%;
    margin-top: -1em;
    right: -2em;
}

.image-top figcaption:before {
    border-color: transparent transparent #fff transparent;
    top: -2em;
    left: 50%;
    margin-left: -1em;
}

.image-bottom figcaption:before {
    border-color: #fff transparent transparent transparent;
    bottom: -2em;
    left: 50%;
    margin-left: -1em;
}

figure > * {
    width: 250px;
    height: 250px;
}

figcaption {
    padding: 1.25em;
    box-sizing: border-box;
    position: relative;
}

figcaption h4 {
    margin-bottom: 1em;
}

figcaption h4 span {
    margin-right: 0.875em;
}

figcaption h2 {
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

figcaption h2 span {
    display: block;
    font-weight: bold;
}

figcaption p {
    width: 100%;
    height: 4.5em;
    margin-bottom: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readmore {
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    color: #e74c3c;
}

.controls {
    width: 500px;
    margin: 0 auto;
}

.controls li {
    float: left;
    width: 125px;
    text-align: center;
}

.controls li a {
    text-decoration: none;
    color: #2980b9;
}

.controls li a:hover {
    color: #3498db;
}

.controls li a.active {
    border-bottom: 1px dotted #3498db;
}
