@charset "UTF-8";
.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center; }

.card__like {
  width: 18px; }

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #4dbd74; }

.card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px; }

.card__clock-info {
  float: right; }

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 125px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.card__info-hover {
  position: absolute;
  padding: 16px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 0;
  width: 100%;
  opacity: 0;
  top: 0; }

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  width: 25%;
  height: 100%; }

.food-card {
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 25%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 40px -7px rgba(0, 0, 0, 0.1); }

.food-card:hover {
  -webkit-box-shadow: 0px 12px 38px -8px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 12px 38px -8px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 12px 38px -8px rgba(0, 0, 0, 0.48); }

.food-card:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1; }

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 4px 24px 26%;
  padding-bottom: 0; }

.card__category {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686; }

.card__title {
  margin-top: 5px;
  margin-bottom: 10px; }

.card__by {
  font-size: 12px;
  font-weight: 500; }

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52; }

.food-card:hover .card__img--hover {
  opacity: 0.3; }

/*.card_link:active .card__img--hover {
    height: 65%;
}
    */
.food-card:hover .card__info {
  background-color: transparent;
  position: relative; }

.food-card:hover .card__info-hover {
  opacity: 0.6; }

figure {
  display: flex;
  flex-wrap: wrap;
  margin: 3em auto;
  background: #fff;
  font-size: 0.875em; }

.image-left, .image-right {
  width: 500px;
  height: 250px; }

.image-top, .image-bottom {
  width: 250px;
  height: 500px; }

.image-left {
  flex-direction: row; }

.image-right {
  flex-direction: row-reverse; }

.image-top {
  flex-wrap: wrap; }

.image-bottom {
  flex-wrap: wrap-reverse; }

figcaption:before {
  position: absolute;
  content: '';
  display: block;
  height: 0;
  widht: 0;
  border-style: solid;
  border-width: 1em; }

.image-left figcaption:before {
  border-color: transparent #fff transparent transparent;
  top: 50%;
  margin-top: -1em;
  left: -2em; }

.image-right figcaption:before {
  border-color: transparent transparent transparent #fff;
  top: 50%;
  margin-top: -1em;
  right: -2em; }

.image-top figcaption:before {
  border-color: transparent transparent #fff transparent;
  top: -2em;
  left: 50%;
  margin-left: -1em; }

.image-bottom figcaption:before {
  border-color: #fff transparent transparent transparent;
  bottom: -2em;
  left: 50%;
  margin-left: -1em; }

figure > * {
  width: 250px;
  height: 250px; }

figcaption {
  padding: 1.25em;
  box-sizing: border-box;
  position: relative; }

figcaption h4 {
  margin-bottom: 1em; }

figcaption h4 span {
  margin-right: 0.875em; }

figcaption h2 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.5em; }

figcaption h2 span {
  display: block;
  font-weight: bold; }

figcaption p {
  width: 100%;
  height: 4.5em;
  margin-bottom: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis; }

.readmore {
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
  color: #e74c3c; }

.controls {
  width: 500px;
  margin: 0 auto; }

.controls li {
  float: left;
  width: 125px;
  text-align: center; }

.controls li a {
  text-decoration: none;
  color: #2980b9; }

.controls li a:hover {
  color: #3498db; }

.controls li a.active {
  border-bottom: 1px dotted #3498db; }

.dot_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: #f86c6b;
  border-radius: 50%;
  position: relative; }
  .dot_loader:before {
    content: "";
    width: inherit;
    height: inherit;
    border: 5px solid #f86c6b;
    border-radius: inherit;
    position: absolute;
    z-index: 10;
    opacity: 0;
    animation: 2s expand cubic-bezier(0.29, 0, 0, 1) infinite;
    animation-delay: 1s; }

@keyframes expand {
  /* Starting at 1 to prevent IOS flicker */
  1% {
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    width: 750%;
    height: 750%;
    opacity: 0;
    border-color: #fff;
    background-color: none;
    border-width: 2px; } }

.input-file-container {
  position: relative;
  max-width: 225px; }

.input-file-trigger {
  display: block;
  transition: all .4s;
  cursor: pointer; }

.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background: #3a4248;
  color: #fff; }

.file-return {
  margin: 0; }

.file-return:not(:empty) {
  margin: .4em 0; }

.file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold; }

.file-return:not(:empty):before {
  content: "Archivo seleccionado: ";
  font-style: normal;
  font-weight: normal; }

.input-file-container canvas {
  max-width: 70%;
  display: none; }

.filupp > input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.filupp {
  position: relative;
  background: #262a2e;
  display: block;
  padding: 0.8em;
  font-size: 0.8em;
  width: 70%;
  height: 3.1em;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 3px #0b0b0b; }

.filupp:before {
  content: "";
  position: absolute;
  top: 1.5em;
  right: 0.75em;
  width: 2em;
  height: 1.25em;
  border: 3px solid #dd4040;
  border-top: 0;
  text-align: center; }

.filupp:after {
  content: "➜";
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 0.65em;
  right: 0.45em;
  font-size: 2em;
  color: #dd4040;
  line-height: 0; }

.filupp-file-name {
  width: 75%;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../core-ui/fonts/poppins/Poppins-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../core-ui/fonts/poppins/Poppins-Bold.ttf") format("truetype"); }

html {
  font-family: "Poppins-Regular", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

.c-highlight:hover {
  color: #007bff !important; }

.invalid-feedback {
  font-family: "Poppins-Regular"; }

.label-alert {
  font-family: "Poppins-Regular";
  margin-top: -1px !important;
  overflow: visible;
  position: absolute;
  z-index: 999;
  color: #ff6a73 !important;
  /*top: 0;
    bottom: 0;*/
  left: 0;
  opacity: 0.9;
  font-weight: 500;
  font-size: 12.5px; }

@media screen and (min-width: 991.99px) {
  .cdisplay-4-lg {
    font-size: 2.5rem; } }

@media screen and (max-width: 991.98px) {
  .cdisplay-2-sm {
    font-size: 1.5rem; }
  .ctext-sm-1 {
    font-size: 0.7rem; } }

.dataTables_length {
  display: inline-block;
  width: 80%; }

.btn-transparent {
  background: transparent;
  color: #F2F2F2;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out; }
  .btn-transparent:hover {
    background-color: #f9f9f9; }

@media screen and (max-width: 767px) {
  div.dt-buttons {
    width: auto !important; } }

.cicon-save {
  font-size: 26px;
  color: #566bb5 !important; }

.cicon-red {
  color: #f86c6b !important; }

.cicon-green {
  color: #4dbd74 !important; }

.btn-table {
  color: #3a4149;
  transition: background 0.5s ease-in-out, border 0.5s ease-in-out; }
  .btn-table:hover {
    border: 0.5px solid #808080; }
  .btn-table:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none; }

.ctable-with-buttons td {
  vertical-align: middle;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem; }

.table tbody tr td {
  vertical-align: middle;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem; }

.ctable-with-buttons.collapsed td {
  vertical-align: middle;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem; }

table > thead:nth-child(1) > tr:nth-child(1) th {
  background-color: #3a4149 !important;
  vertical-align: middle;
  color: #f9f9f9;
  font-weight: 400;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem; }

label.error {
  position: relative;
  margin-bottom: -10px;
  font-size: 11.5px;
  color: #ff6a73 !important; }

.no-margin-bottom {
  margin-bottom: 0px; }

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before {
  top: 5px !important; }

div#main-sideBar.sidebar nav.sidebar-nav.ps--active-y ul.nav li.nav-dropdown.open ul.nav-dropdown-items {
  border-left: 1px solid #20a8d8;
  border-top: 3px solid #20a8d8; }

.bg-loader._loaded {
  opacity: 0; }

.icon__dishes {
  width: 4.75rem;
  height: 4.75rem; }

.dataTables_filter {
  display: inline-block; }

.dataTables_length {
  max-width: 50%; }

.c-pointer {
  cursor: pointer; }
