

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../core-ui/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../core-ui/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

$cfont-family: "Poppins-Regular";

$cmain-dark: rgb(58, 65, 73);
$cmain-blue: #566bb5;
$cmain-red: #f86c6b ;
$cmain-green: #4dbd74 ;
$cbtn-size:26px;


html {
    font-family: $cfont-family, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    
.c-highlight:hover {
    color: #007bff !important
}
.invalid-feedback {
    font-family: $cfont-family;
}

.label-alert {
    font-family: $cfont-family;
    margin-top: -1px !important;
    overflow: visible;
    position: absolute;
    z-index: 999;
    color: #ff6a73 !important;
    /*top: 0;
    bottom: 0;*/
    left: 0;
    opacity: 0.9;
    font-weight: 500;
    font-size: 12.5px;
}

@media screen and (min-width: 991.99px) {
    .cdisplay-4-lg {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 991.98px) {
    .cdisplay-2-sm {
        font-size: 1.5rem;
    }
    .ctext-sm-1{
        font-size:0.7rem;
    }
}


.dataTables_length {
    display: inline-block;
    width: 80%;
}


.btn-transparent {
    background: transparent;
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;

    &:hover {
        background-color: #f9f9f9;
    }
}



@media screen and (max-width: 767px) {
    div.dt-buttons {  
        width: auto !important;       
    }
}
.cicon-save {
    font-size: $cbtn-size;
    color: $cmain-blue !important;
}
.cicon-red {
    color: $cmain-red !important;
}
.cicon-green {
    color: $cmain-green !important;
}

.btn-table {
    color: $cmain-dark;
    transition: background 0.5s ease-in-out, border 0.5s ease-in-out;

    &:hover {
        border: 0.5px solid #808080;
    }

    &:active {
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
        outline: none;
    }
}

.ctable-with-buttons td {
    vertical-align: middle;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.table tbody tr td {
    vertical-align: middle;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
}

.ctable-with-buttons.collapsed td {
    vertical-align: middle;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

 table > thead:nth-child(1) > tr:nth-child(1) th {
    background-color: $cmain-dark !important;
    vertical-align: middle;    
    color: #f9f9f9;
    font-weight: 400;
}


label.error {
    position:relative;
    margin-bottom: -10px;
    font-size: 11.5px;
    color: #ff6a73 !important;
}

.no-margin-bottom{
    margin-bottom:0px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before{
    top:5px !important;
}

div#main-sideBar.sidebar nav.sidebar-nav.ps--active-y ul.nav li.nav-dropdown.open ul.nav-dropdown-items {
    border-left: 1px solid #20a8d8;
    border-top: 3px solid #20a8d8;
}





.bg-loader._loaded {
    opacity: 0;
}


.icon__dishes {
    width: 4.75rem;
    height: 4.75rem;
}
