@model IEnumerable<RMS_MODELOS.M_TB_MESA>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header" id="main_content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a href="#">
                    Módulo de Gestión de restaurante
                </a>
            </li>

        </ol>
        <article class="animated fadeIn slow">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-3 pl-sm-2 pl-lg-5 card">
                        <h5 class="cdisplay-2-sm">
                            Gestión de mesas
                        </h5>
                        <div class="row">
                            @foreach (var item in Model)
                            {

                                <div class="col-sm-6 col-lg-2 col-md-3">
                                    <div class="card text-white bg-light">
                                        <div class="card-body pb-0">
                                            <div class="btn-group float-right">
                                                <button class="btn btn-light dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-settings"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Liberar/Ocupar mesa</a>
                                                    <a class="dropdown-item" href="#">Reservar mesa</a>
                                                    <a class="dropdown-item" href="#">Eliminar mesa</a>
                                                </div>
                                            </div>


                                            <div class="text-black-50">@item.FS_COD_MESA</div>
                                            @if (item.FS_STA_OCUP == "R")
                                            {
                                                <div class="text-info">Reservado</div>
                                            }
                                            else if (item.FS_STA_OCUP == "S")
                                            {
                                                <div class="text-danger">Ocupado</div>
                                            }
                                            else
                                            {
                                                <div class="text-success">Libre</div>
                                            }
                                        </div>
                                        <img src="~/Content/Main/imagenes/dishes.svg" style="height:7rem;" />

                                    </div>
                                </div>

                            }

                        </div>
                        <div class="pb-5">
                            <a class="btn btn-outline-success smooth-link" href="@Url.Action("Registro", "Orden")" role="button">
                                Nuevo pedido <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </section>
</div>